.conteiner{
    background-color: #242629;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

@media screen and (max-width:900px){
    .conteiner{
      flex-wrap:wrap;
    }
}