.content{
    background-color: #242629;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    padding: 10rem;
}

h1, .divButton {
    padding: 4rem;
    display: block;
}

.button {
    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #7f5af0;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 4px 4px 8px #7f5af0,
                -4px -4px 8px #ffffff;
}
   
.button:hover {
    border: 1px solid white;
}
   
.button:active {
    box-shadow: 4px 4px 8px #7f5af0,
                -4px -4px 8px #ffffff;
}

@media screen and (max-width:800px){
    .content {
        font-size: 20px;
        padding: 10rem 8rem;
    }

    h1, .divButton {
        padding: 5rem;
        display: inline-block;
    }
}

@media screen and (max-width:500px){
    .content {
        font-size: 12px;
        padding: 12rem 3rem;
    }

    .button {
        padding: 0.4em 1.3em;
        font-size: 14px;
        display: inline-block;
    }

    h1, .divButton {
        padding: 5rem;
        display: inline-block;
    }
}