.nav {
    background-color: #242629;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.button {
    color: #ffffff;
    margin: 0 60px;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #7f5af0;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 4px 4px 8px #7f5af0,
                -4px -4px 8px #ffffff;
}
   
.button:hover {
    border: 1px solid white;
}
   
.button:active {
    box-shadow: 4px 4px 8px #7f5af0,
                -4px -4px 8px #ffffff;
}